.text-pink {
  color: #e83e8c;
}

.btn-pink {
  background-color: #e83e8c;
  color: white;
  border: none;
  transition: 0.3s ease;
}

.btn-pink:hover {
  background-color: #d63384;
  color: white;
}
